In [2]:
import pandas as pd
import datetime as dt

In [3]:
df = pd.read_csv('Calculator Data.csv')
df.head()

   Id             Calculator name        Brand name     Year made Rechargeable
0  1.0            TI-84 Plus CE\n  Texas Instrument  January 2015          Yes
1  2.0  TI-84 Plus Silver          Texas Instrument     June 2004           No
2  3.0      TI-84 Plus C Silver\n  Texas Instrument          2004           No
3  4.0       TI-84 Plus T          Texas Instrument     June 2004           No
4  5.0    TI-84 Plus CE-T          Texas Instrument   Spring 2015          Yes